@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

/* ---------nav-bar----------- */

.nav-bar {
    background: #5e096d;
    padding-top: 20px;
}

.nav-bar .logo {
    display: block;
}

.nav-bar .logo img {
    width: 150px;
    cursor: pointer;
}

.nav-bar .menu a {
    color: #ffc846;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.nav-bar .menu .call {
    background: #ffc846;
    border-radius: 50px;
    cursor: pointer;
    width: 25px;
    padding: 2px;
}

/* --------------heroo------------- */


.heroo .heroo-bg {
    position: relative;
    object-fit: cover;
    z-index: 1000;
    height: 100vh;
    right: 50%;
    transform: translate(50%, 0);
    bottom: 1px;
}

.heroo .formm {
    position: relative;
    background-color: white;
    z-index: 1008;
    border-radius: 20px;
    text-align: center;
    margin-top: -800px;
    width: fit-content;
    padding: 20px;
    margin-left: 50px;
}

.heroo .formm form {
    display: inline-grid;
}

.heroo .formm form input {
    width: 500px;
    margin-bottom: 25px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #adadadb0;
}

.heroo .formm form .book-class {
    padding: 10px 10px;
    font-size: 25px;
    font-weight: 1000;
    background: linear-gradient(135deg, #ff8e32, #ff5263);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.heroo .formm .top {
    font-size: 23px;
    font-weight: 500;
    color: #313131;
    margin-bottom: 10px;
}

.heroo .formm .middle {
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 10px;
}

.heroo .formm .bottom {
    font-size: 18px;
    font-weight: 500;
    color: #313131;
    margin-bottom: 10px;
}

.heroo .formm form ion-icon {
    margin-top: -50px;
    margin-left: 26.5rem;
    color: #616161b0;
    font-size: 13px;
    cursor: pointer;
}

.heroo .formm .hr1 {
    border: 1px solid #adadad49;
    width: 100px;
    margin-left: 50px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.heroo .formm .hr2 {
    border: 1px solid #adadad49;
    width: 100px;
    margin-left: 350px;
    margin-top: -22px;
    margin-bottom: 22px;
}

.heroo .curves {
    position: relative;
    z-index: 1008;
    width: 100%;
    margin-top: 250px;
}

/* -----------------section 2---------------- */

.sec2 h2 {
    text-align: center;
    margin-top: 40px;
    padding-left: 450px;
    padding-right: 250px;
}

.sec2 .title {
    text-align: center;
    margin-top: 20px;
    padding-left: 450px;
    padding-right: 265px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 10px;
}
/* ---------------card lkg------------ */

.sec2 .card-lkg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: #75757571 0px 10px 20px 0px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}


.sec2 .card-lkg .lkg {
    padding: 10px 20px;
    background: linear-gradient(135deg, #5e70ff, #8b40ff);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 0;
}

.sec2 .card-lkg .img{
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.sec2 .card-lkg .img img{
    width: 250px;
    height: 150px;
}

.sec2 .card-lkg .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3.5rem;
}

.sec2 .card-lkg .text img{
    width: 8rem;
    margin-top: -20px;
}

.sec2 .card-lkg .text p{
    margin-top: 10px;
    color: #313131;
    text-align: center;
    padding-left: 4rem;
    padding-right: 2.2rem;
}

.sec2 .card-lkg .text button{
    padding: 15px 55px;
    font-size: 16px;
    background: linear-gradient(135deg, #ff8e32, #ff5263);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-top: 2rem;
}

.sec2 .card-lkg .text button a{
    color: white;
    text-decoration: none;
}

/* -----------------sec3-------------- */
 
.sec3{
    margin-top: 60px;
}

.sec3 h1{
    font-size: 2.2rem;
    color: #333333;
    text-align: center;
    margin-bottom: 50px;
}


.sec3 .advantage {
    text-align: center;
    color: #333333;
    font-size: 28px;
    margin-bottom: 50px;
}

.sec3 .advantage .advantage-1 img{
    width: 250px; 
    margin-bottom: 20px;
}

.sec4 h1{
    font-size: 30px;
    color: #333333;
    text-align: center;
    margin-bottom: 3rem;
}

.sec4 .rating, .parents-review{
    margin-left: 30px;
    margin-right: 30px;
}

.sec4 .rating .download {
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
}

.sec4 .rating .download img {
    width: 80px;
}

.sec4 .rating .download h2{
    color: purple;
}

.sec4 .rating .download p {
    color: #333333;
}

.sec4 .parents-review .parent-1, .parent-2, .parent-3{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
}

.sec4 .parents-review .parent-1 img, .parent-2 img, .parent-3 img{
    width: 9rem;
    cursor: pointer;
}

.sec4 .parents-review .parent-1 p, .parent-2 p, .parent-3 p{
    font-size: 15px;
    color: #333333;
    margin-top: 20px;
}

.sec4 .parents-review .parent-1 h4, .parent-2 h4, .parent-3 h4{
    color: #333333;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sec4 .parents-review .parent-2{
    margin-bottom: 18px;
}

.sec4 .parents-review .parent-1 .trianlge, .parent-2 .trianlge, .parent-3 .trianlge{
    width: 3rem;
    margin-left: -3.5rem;
}

.sec4 .parents-review .parent-1 .class-location, .parent-2 .class-location, .parent-3 .class-location{
    font-size: 13.5px;
}

.sec4 .parents-review .arrow{
    cursor: pointer;
}

.sec4 .button-reviews {
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(135deg, #5e70ff, #8b40ff);
    color: white;
    cursor: pointer;
    margin-left: 500px;
    
}

.sec4 .button-reviews ion-icon{
    font-size: 20px;
    font-weight: 1000;
    margin-bottom: -5px;
    margin-left: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
    border-radius: 50px;
}

.carousel-box {
    margin-top: 5rem;
}

.contact_resp {
    font-size: 20px;
    font-weight: 500;
    margin-top: 45px;
    text-align: center;
}
/* ------------footer----------- */

footer img{
    z-index: 1008;
}

footer .india-course{
    background: #5e096d;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    padding-left: 3rem;
    padding-right: 1rem;
    padding-bottom: 20px;
}

footer .india-course .course, .exams-classes, .exam-resources, .company-follow, .free-textbook-solution, .state-boards{
    display: inline-grid;
    width: 17%;
    min-height: 1px;
}

footer .india-course .course p, .exams-classes p, .exam-resources p, .company-follow p, .free-textbook-solution p, .state-boards p{
    color: #ffc846;
    font-weight: 500;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer .india-course .course a, .exams-classes a, .exam-resources a, .company-follow a, .free-textbook-solution a, .state-boards a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 5px;
}

footer .india-course .course a:hover, .exams-classes a:hover, .exam-resources a:hover, .company-follow a:hover, .free-textbook-solution a:hover, .state-boards a:hover{
    font-weight: 500;
}

footer .india-course .company-follow .follow{
    display: flex;
}

footer .india-course .company-follow .follow a{
    width: 30px;
    margin: 10px;
}
footer hr{
    height: 1px;
    background: rgba(179, 179, 179, 0.582);
    border: none;
    width: 93%;
    margin-left: 45px;
}

footer .bottom{
    background: #5e096d;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 3rem;
    font-size: 13px;
}

footer .bottom .pages a{
    color: white;
    text-decoration: none;
}

footer .bottom .pages ion-icon{
    transform: rotate(90deg);
    font-size: 30px;
    margin-bottom: -10px;
}

footer .bottom .copyright{
    margin-top: 10px;
}

.carousel-card {
    text-align: center;
}


/*about */
.about-title h1 {color: #535353; font-size:45px;font-weight:600;}
.about-title span {color: #AF0808; font-size:45px;font-weight:700;}
.about-title h3 {color: #535353; font-size:23px;margin-bottom:24px;}
.about-title p {color: #7a7a7a;line-height: 1.8;margin: 0 0 15px;}
.about-paddingB {padding-bottom: 50px;}

.contact_info_container {
    display: flex;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact_info_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.buttons
{
    display: inline-block;
    background: #ae71b3;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #ae71b3;
}
.buttons a
{
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
}
.buttons:hover
{
    opacity: 0.8;
}

.contact_info
{
    width: 100%;
    padding-top: 70px;
}
.contact_info_item
{
    width: calc((100% - 60px) / 3);
    height: 100px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding-left: 32px;
    padding-right: 15px;
}
.contact_info_image
{
    width: 35px;
    height: 35px;
    text-align: center;
}
.contact_info_image img
{
    max-width: 100%;
}
.contact_info_content
{
    padding-left: 17px;
}
.contact_info_title
{
    font-weight: 500;
}
.contact_info_text
{
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}

/*********************************
4.1 Contact Form
*********************************/

.contact_form
{
    padding-top: 85px;
}
.contact_form_container
{

}
.contact_form_title
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 37px;
}
.contact_form_inputs
{
    margin-bottom: 30px;
}
.input_field
{
    width: calc((100% - 60px) / 3);
    height: 50px;
    padding-left: 25px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    outline: none;
    color: #ae71b3;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.input_field:focus,
.text_field:focus
{
    border-color: #b2b2b2;
}
.input_field:hover,
.text_field:hover
{
    border-color: #b2b2b2;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
} 
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder
{ 
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
}
.input_field::input-placeholder,
.text_field::input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
}
.text_field
{
    width: 100%;
    height: 160px;
    padding-left: 25px;
    padding-top: 15px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    color: #ae71b3;
    outline: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.contact_submit_button
{
    padding-left: 35px;
    padding-right: 35px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 24px;
}
.panel
{
    width: 100%;
    height: 50px;
    background: #fafafa;
    margin-top: 120px;
}

.pricing-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.card1 {
    padding: 20px;
}

.pricing-header {
    align-items: center;
    text-align: center;
}

.pricing-header h4 {
    font-size: 40px;
}

.card1:hover {
    background:#ae71b3;
    border:1px solid #00ffb6;
}

.card1:hover .list-group-item{
background:#ae71b3 !important
}


.card:hover .btn-outline-dark{
color:white;
background:#212529;
}

@media only screen and (max-width: 414px) {
    /* CSS rules for smartphones in small portrait orientation go here */
    .heroo .heroo-bg {
        width: -webkit-fill-available;
    }
    .heroo .formm {
        width: 230px;
        padding: 20px 10px;
        border-radius: 20px;
        height: 560px;
        margin-top: -650px;
    }
    .heroo .formm form input {
        width: 200px;
    }
    .heroo .formm .hr1 {
        width: 20px;
        margin-left: 10px;
    }
    .heroo .formm .hr2 {
        width: 20px;
        margin-left: 180px;
    }
    .heroo .curves {
        width: 100%;
        margin-top: 75px;
    }
    .sec2 h2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .sec2 .title {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        font-weight: 500;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .card-3 {
        flex-direction: column;
    }
    .sec2 .card-lkg {
        flex-direction: column;
        margin-left: 20px;
        width: 90%;
        margin-right: 15px;
    }
    .sec2 .card-lkg .img {
        margin-bottom: 0rem;
        margin-left: 40px;
        margin-right: 40px;
    }
    .sec2 .card-lkg .text {
        margin-top: 1rem;
    }
    .sec2 .card-lkg .text button {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .sec3 .advantage {
        flex-direction: column;
      }
    .sec3 .advantage p{
        font-size: medium;
        margin-bottom: 2rem;
    }
    .sec4 .button-reviews {
        margin-left: 50px;
    }
    .sec4 .rating, .parents-review {
        flex-direction: column;
    }
    .sec4 .rating .download, .star-rating, .cities, .minutes {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .sec4 .rating .download img {
        width: 10rem;
    }
    .sec4 .rating .download p {
        padding: 10px;
    }
    footer .india-course {
        padding-left: 1rem;
    }
    footer .bottom {
        padding: 1px 1rem;
        font-size: 12px;
      }
    footer .bottom .copyright {
    margin-top: 0px;
    }
    #quote-carousel .carousel-indicators {
    bottom: -40px;
    }
    #quote-carousel .carousel-indicators li {
    height:5px;
    width:5px;
    }
    #quote-carousel .carousel-indicators .active {
    height:2x;
    width:5px;
    margin-bottom:0px;
    }
    footer .india-course .company-follow .follow a{
        margin: 2px;
    }
    .contact_info_item {
        width: 300px;
        margin-bottom: 20px;
    }
    .input_field {
        width: 250px;
    }
    .about-title h1 {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 415px) and (max-width: 664px) and (orientation: portrait) {
    /* CSS rules for smartphones in portrait orientation go here */
    .heroo .heroo-bg {
        width: -webkit-fill-available;
    }
    .heroo .formm {
        width: 330px;
        padding: 20px 10px;
        margin-right: 60px;
        border-radius: 20px;
        margin-top: -650px;
    }
    .heroo .formm form input {
        width: 300px;
    }
    .heroo .formm .hr1 {
        width: 50px;
        margin-left: 10px;
    }
    .heroo .formm .hr2 {
        width: 50px;
        margin-left: 250px;
    }
    .heroo .curves {
        width: 100%;
        margin-top: 140px;
    }
    .sec2 h2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .sec2 .title {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        font-weight: 500;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .card-3 {
        flex-direction: column;
    }
    .sec2 .card-lkg {
        flex-direction: column;
        margin-left: 20px;
        width: 90%;
        margin-right: 15px;
    }
    .sec2 .card-lkg .img {
        margin-bottom: 0rem;
        margin-left: 40px;
        margin-right: 40px;
    }
    .sec2 .card-lkg .text {
        margin-top: 1rem;
    }
    .sec2 .card-lkg .text button {
        margin-left: 2rem;
    }
    .sec3 .advantage {
        flex-direction: column;
      }
    .sec3 .advantage p{
        font-size: medium;
        margin-bottom: 2rem;
    }
    .sec4 .button-reviews {
        margin-left: 50px;
    }
    .sec4 .rating, .parents-review {
        flex-direction: column;
    }
    .sec4 .rating .download, .star-rating, .cities, .minutes {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .sec4 .rating .download img {
        width: 10rem;
    }
    .sec4 .rating .download p {
        padding: 10px;
    }
    footer .india-course {
        padding-left: 1rem;
    }
    footer .bottom {
        padding: 1px 1rem;
        font-size: 12px;
      }
    footer .bottom .copyright {
    margin-top: 0px;
    }
    #quote-carousel .carousel-indicators {
    bottom: -40px;
    }
    #quote-carousel .carousel-indicators li {
    height:5px;
    width:5px;
    }
    #quote-carousel .carousel-indicators .active {
    height:2x;
    width:5px;
    margin-bottom:0px;
    }
    footer .india-course .company-follow .follow a{
        margin: 2px;
    }
    .contact_info_item {
        width: 300px;
        margin-bottom: 20px;
    }
    .input_field {
        width: 250px;
    }
  }


@media only screen and (min-width: 481px) and (max-width: 767px)  and (orientation: landscape){
/* CSS rules for smartphones in landscape orientation go here */
    .heroo .heroo-bg {
        height: 170vh;
        width: -webkit-fill-available;
    }
    .nav-bar .logo img {
        width: 4.5rem;
        margin-right: 200px;
    }
    .heroo .formm {
        width: 600px;
        margin-top: -600px;
        padding: 20px 10px;
        margin-right: 80px;
        height: 500px;
    }
    .heroo .formm form input {
        width: 34rem;
    }
    .heroo .formm .hr2 {
        margin-left: 450px;
    }
    .heroo .curves {
        width: 100%;
        margin-top: 80px;
    }
    .sec2 h2 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .sec2 .title {
        padding-left: 5.5rem;
        padding-right: 5.5rem;
        font-weight: 500;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .card-3 {
        flex-direction: column;
    }
    .sec2 .card-lkg {
        flex-direction: column;
        margin-left: 2rem;
        width: 90%;
        margin-right: 1.5rem;
    }
    .sec2 .card-lkg .img {
        margin-bottom: 0rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .sec2 .card-lkg .text {
        margin-top: 1rem;
    }
    .sec2 .card-lkg .text button {
        margin-left: 2rem;
    }
    .sec3 .advantage {
        flex-direction: column;
      }
    .sec3 .advantage p{
        font-size: medium;
        margin-bottom: 2rem;
    }
    .sec4 .button-reviews {
        margin-left: 100px;
    }
    .sec4 .rating, .parents-review {
        flex-direction: column;
    }
    .sec4 .rating .download, .star-rating, .cities, .minutes {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .sec4 .rating .download img {
        width: 10rem;
    }
    .sec4 .rating .download p {
        padding: 10px;
    }
    footer .india-course {
        padding-left: 1rem;
    }
    footer .bottom {
        padding: 1px 1rem;
        font-size: 12px;
      }
    footer .bottom .copyright {
    margin-top: 0px;
    }
    #quote-carousel .carousel-indicators {
        bottom: -40px;
    }
    #quote-carousel .carousel-indicators li {
    height:5px;
    width:5px;
    }
    #quote-carousel .carousel-indicators .active {
    height:2x;
    width:5px;
    margin-bottom:0px;
    }
    .contact_info_item {
        width: 300px;
        margin-bottom: 20px;
    }
    .input_field {
        width: 250px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
/* CSS rules for tablets in portrait orientation go here */
    .heroo .heroo-bg {
        width: -webkit-fill-available;
    }
    .nav-bar .logo img {
        width: 60px;
        margin-right: 250px;
    }
    .heroo .formm {
        width: 500px;
        padding: 20px 10px;
        margin-right: 200px;
        border-radius: 20px;
    }
    .heroo .formm form input {
        width: 400px;
    }
    .heroo .formm .hr1 {
        width: 4rem;
    }
    .heroo .formm .hr2 {
        width: 4rem;
        margin-left: 350px;
    }
    .heroo .curves {
        width: 100%;
        margin-top: 280px;
    }
    .sec2 h2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .sec2 .title {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        font-weight: 500;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .card-3 {
        flex-direction: column;
    }
    .sec2 .card-lkg {
        flex-direction: column;
        margin-left: 2rem;
        width: 90%;
        margin-right: 1.5rem;
    }
    .sec2 .card-lkg .img {
        margin-bottom: 0rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .sec2 .card-lkg .text {
        margin-top: 1rem;
    }
    .sec2 .card-lkg .text button {
        margin-left: 2rem;
    }
    .sec3 .advantage {
        flex-direction: column;
    }
    .sec3 .advantage p{
        font-size: medium;
        margin-bottom: 2rem;
    }
    .sec4 .rating, .parents-review {
        flex-direction: column;
    }
    .sec4 .button-reviews {
        margin-left: 200px;
    }
    .sec4 .rating .download, .star-rating, .cities, .minutes {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .sec4 .rating .download img {
        width: 10rem;
    }
    .sec4 .rating .download p {
        padding: 10px;
    }
    footer .india-course {
        padding-left: 1rem;
    }
    footer .bottom {
        padding: 1px 1rem;
        font-size: 12px;
    }
    footer .bottom .copyright {
    margin-top: 0px;
    }
    .contact_info_item {
        width: 300px;
        margin-bottom: 20px;
    }
    .input_field {
        width: 250px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1600px) and (orientation: landscape) {
/* CSS rules for tablets in landscape orientation go here */
.nav-bar .logo img {
    width: 80px;
    margin-right: 550px;
}
.heroo .heroo-bg {
    height: 200vh;
    width: -webkit-fill-available;
}
.heroo .formm {
    width: 500px;
    margin-top: -800px;
    padding: 20px 10px;
    margin-right: 40rem;
    border-radius: 20px;
}
.heroo .formm form input {
    width: 450px;
}
.heroo .formm .hr1 {
    width: 90px;
}
.heroo .formm .hr2 {
    width: 90px;
    margin-left: 350px;
}
.heroo .curves {
    width: 100%;
    margin-top: 265px;
}
.sec2 h2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.sec2 .title {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}
.card-3 {
    flex-direction: row;
}
.sec2 .card-lkg {
    flex-direction: column;
    margin-left: 20px;
    width: 90%;
    margin-right: 15px;
}
.sec2 .card-lkg .img {
    margin-bottom: 0rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.sec2 .card-lkg .text {
    margin-top: 1rem;
}
.sec2 .card-lkg .text button {
    margin-left: 20px;
    margin-bottom: 10px;
}
.sec3 .advantage {
    flex-direction: row;
}
.sec3 .advantage p{
    font-size: medium;
    margin-bottom: 2rem;
}
.sec4 .button-reviews {
    margin-left: 200px;
}
.sec4 .rating, .parents-review {
    flex-direction: row;
}
.sec4 .rating .download, .star-rating, .cities, .minutes {
    margin-left: 2rem;
    margin-right: 2rem;
}
.sec4 .rating .download img {
    width: 10rem;
}
.sec4 .rating .download p {
    padding: 10px;
}
footer .india-course {
    padding-left: 1rem;
}
footer .bottom {
    padding: 1px 1rem;
    font-size: 12px;
}
footer .bottom .copyright {
margin-top: 0px;
}
.contact_info_item {
    width: 300px;
    margin-bottom: 20px;
}
.input_field {
    width: 250px;
}
}