<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content={{meta_description}}>
    <meta name="author" content={{meta_author}}>
    <meta name="keywords" content={{meta_keywords}}>
    <title>
        {% if title %}
          {{title}}
        {% else %}
          Stringing
        {% endif %}
          </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <nav class='nav-bar'>
        <div class="logo">
            <img src="{% static 'logo_white.png' %}" alt="">
        </div>
        <div class="menu">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'pricing' %}">Pricing</a>
            <a href="{{calling_number}}">
            <img src="{% static 'call.svg' %}" alt="" class="call">
            </a>
        </div>
    </nav>

    <section class="hero" id="lead_form">
        <img src="{% static 'bg.svg' %}" alt="" class="hero-bg">

        <div class="form">
            <p class="top">Book your Free Class</p>
            <p class="middle">Learn from the best teachers</p>
            <p class="bottom">Enter Your Details</p>
            <hr class="hr1">
            <hr class="hr2">

            {% if response %}
                {% if response == 'success'%}
                <p class="top">Thanks! We will get in touch with you shortly.🙂</p>
                {% else %}
                <p class="top">Something Went Wrong, Please try again later</p>
                {% endif %}
            {% else %}
            <form action="" method = "POST">
                {% csrf_token %}
                <input type="text" name="name" id="" placeholder="Enter Name">
                <input type="number" name="phone" id="" placeholder="Enter Mobile Number" minlength="10" required>
                <input type="email" name="email" id="" placeholder="Email Address">
                <input type="text" name="query" id="" placeholder="Which service do you want from us?">
                <button class="book-class" type="submit">Get a Call From Us</button>
            </form>
            {% endif %}
        </div>

        <img src="{% static 'curves.svg' %}" alt="" class="curves">
    </section>

    <section class="sec2">
        <h2>Comprehensive learning programs & classes for all students</h2>
        <p class="title">Become lifelong learners with India's best teachers, engaging video lessons and
            personalised learning
            journeys</p>

        <div class="card-3">
            {% for banner in banners %}
            <div class="card-lkg">
                <p class="lkg">{{banner.name}}</p>
                <div class="img">
                    <img    src="{{banner.image.url}}" alt="">
                </div>
                <div class="text">
                    <p>{{banner.caption}}</p>
                    <button><a href="{{banner.button_link}}" target='blank'>{{banner.button_text}}</a></button>
                </div>
            </div>
            {%endfor%}
        </div>
    </section>

    <section class="sec3">
        <h1>Learn In the Best Environment</h1>
        <div class="advantage">
            {% for advantage in advantages %}
            <div class="advantage-1">
                <img src="{{advantage.image.url}}" alt="">
                <p>{{advantage.name}}
                    <br>
                    {{advantage.caption}}
                </p>
            </div>
            {%endfor%}
        </div>
    </section>

    <section class="sec4">
        {% if flexes %}
        <h1>Our students love us</h1>
        {%endif%}
        <div class="rating">
            {% for flex in flexes %}
            <div class="download">
                <img src="{{flex.image.url}}" alt="">
                <h2>{{flex.name}}</h2>
                <p>{{flex.caption}}</p>
            </div>
            {%endfor%}
        </div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for content in porte %}
            <div class="item{% if loop.index == 1 %} active{% endif %}">
              <img src="{{content.gal_porte}}" class="img-responsive" alt="test1">
              <div class="carousel-caption"></div>
            </div>
            {% endfor %}
            <!-- Controls -->
            <a class="home-icon left" href="#carousel-example-generic" role="button" data-slide="prev"> 
              <i class="fa fa-arrow-left"></i>
            </a> 
            <a class="home-icon right" href="#carousel-example-generic" role="button" data-slide="next"> 
              <i class="fa fa-arrow-right" style="text-align: right;"></i>
            </a>
        </div>
        </div>
          
          
        <button>1000s of reviews by happy students <ion-icon name="arrow-forward-outline"></ion-icon></button>
    </section>

    <footer>
        <img src="assets/footer.svg" alt="">
        <div class="india-course">
            <div class="course">
                <p>Privacy Policy</p>
            </div>
            <div class="exams-classes">
                <p>Terms and Conditions</p>
            </div>
            <div class="exam-resources">
                <p>Cancellation & Refund Policy</p>
            </div>
            <div class="company-follow">
                <P>Follow us</P>
                <div class="follow">
                    <img src="assets/asset 46.svg" alt="">
                    <img src="assets/asset 47.svg" alt="">
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="pages">
                <a href="">Developed by @ekesel</a>
            </div>
            <div class="copyright">
                <p>	&#169; 2023, Stringing. All right reserved.</p>
            </div>
        </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>